<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <!-- Section Sản Phẩm -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Hình ảnh Sản Phẩm -->
        <div class="space-y-4">
            <img [src]="mainImage" alt="Hình ảnh chính sản phẩm" class="w-full rounded-lg shadow-lg">
            
            <div class="flex gap-4">
                @for (url of product.images; track $index) {
                    <img [src]="url" alt="Hình ảnh sản phẩm" class="w-24 h-24 rounded-lg shadow-lg cursor-pointer" (click)="changeImage(url)">
                }
            </div>
        </div>

        <!-- Chi Tiết Sản Phẩm -->
        <div>
            <h1 class="text-3xl font-bold text-gray-800">{{product.name}}</h1>
            <p class="text-lg text-gray-600 mt-2">{{product.shortDescription}}</p>
            <div class="mt-8">
                <h2 class="text-2xl font-bold text-gray-800">Mô Tả Sản Phẩm</h2>
                <p class="mt-4 text-gray-600 leading-relaxed">
                    {{product.description}}
                </p>
            </div>
            <div class="flex gap-8">
                <p class="mt-4 text-2xl font-semibold text-green-300"><s>{{product.price}}.Đ</s></p>
                <p class="mt-4 text-xl font-semibold text-red-500">-{{product.discount}}%</p>
            </div>
            <p class="mt-4 text-2xl font-semibold text-green-600">{{sellingPrice}}.Đ</p>

            <div class="mt-6">
                @if(isProductInCart(product._id!)){
                    <button mat-flat-button class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow-lg hover:bg-blue-500" (click)="addToCart(product)">Xóa khỏi Giỏ Hàng</button>
                }@else {
                    <button mat-flat-button class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow-lg hover:bg-blue-500" (click)="addToCart(product)">Thêm vào Giỏ Hàng</button>
                }
            </div>

            <!-- Những Nét Nổi Bật Của Sản Phẩm -->
        </div>
    </div>

    <!-- Mô Tả Sản Phẩm và Đánh Giá -->
    <div class="mt-16">
        <!-- Tabs -->
        <div class="flex border-b border-gray-300">
            <button class="px-6 py-3 text-lg font-semibold text-gray-700 border-b-2 border-blue-600">Mô Tả</button>
            <button class="px-6 py-3 text-lg font-semibold text-gray-600 hover:text-gray-800">Chi Tiết</button>
            <button class="px-6 py-3 text-lg font-semibold text-gray-600 hover:text-gray-800">Đánh Giá</button>
        </div>

        <!-- Mô Tả Sản Phẩm -->
        

        <!-- Chi Tiết Sản Phẩm -->


        <!-- Phần Đánh Giá -->
        <div class="mt-8">
            <h2 class="text-2xl font-bold text-gray-800">Đánh Giá Khách Hàng</h2>
            <div class="mt-4 space-y-6">
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <div class="flex items-center justify-between">
                        <h3 class="text-lg font-semibold text-gray-800">John Doe</h3>
                        <span class="text-sm text-gray-500">Ngày 15 tháng 11, 2024</span>
                    </div>
                    <p class="mt-2 text-gray-600">
                        Sản phẩm tuyệt vời! Tôi rất thích nó vì vừa ngon vừa lành mạnh. Hoàn hảo cho chế độ luyện tập của tôi.
                    </p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <div class="flex items-center justify-between">
                        <h3 class="text-lg font-semibold text-gray-800">Jane Smith</h3>
                        <span class="text-sm text-gray-500">Ngày 20 tháng 11, 2024</span>
                    </div>
                    <p class="mt-2 text-gray-600">
                        Một sản phẩm tuyệt vời! Tôi rất ưa thích hàm lượng đường thấp và cách nó dễ tiêu hóa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
