.radio-button-group {
    mat-radio-button {
      color: blue !important;
    }
  
    mat-radio-button.mat-radio-label-content {
      color: blue !important; // Ensures the text is styled correctly
    }
  }
  ::ng-deep .mat-radio-button .mat-radio-label-content {
    color: blue !important; // Đảm bảo text hiển thị màu xanh
  }  